body{
    background-color: #d92e8d;
    font-family: Helvetica, Arial, Helvetica, sans-serif !important;
}
.navbar{
    height: 32px;
    background: rgba(0,0,0,.35);
    position: relative;
}
.trello-logo{
    width: 4em;
    cursor: pointer;
}
.bg-primary{
    background-color: #d92e8c70 !important;
    height: 30px;
    font-size: 16px;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
icon{
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    width: 32px;
}
.inputSearchDesign {
    background-color: #d92e8c70 !important;
    width: 16%;
}
.inputSearch{
    background: none !important;
    border: none;
}