body{
    background-color: #d92e8d;
    font-family: Helvetica, Arial, Helvetica, sans-serif !important;
}
header{
    height: 40px;
    background: rgba(0,0,0,.35);
    padding-left: 0% !important;
     
}
.trello-logo{
    width: 4.5em;
    cursor: pointer;
}
.bg{
    background-color: #d92e8c70 !important;
    height: 32px;  
    border: none;
}
.icon{
    border: none;
    width: 32px;
}
img{
    width: 2em;
}
.textBoards{
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}
.design{
    background-color: #d92e8c70 !important;
    height: 32px;
    width: 200px;
    text-align: right;
    border: none;
}
.test{
    background-color: black;
}
.picture{
    border-radius: 80px;
}
@media (max-width: 877px) {
    .design{
        width: 30px;
        text-align: center;
    }
    .textBoards{
        display: none;
    }
    .boards{
        width: 32px;
    }
    .info{
        display: none;
    }
}