body{
    background-color: #1483C2;
}
.nav-wrapper{
    background-color: #0072a7;
}
.trello-logo{
    width: 3em;
}
.icon{
    background-color: #609fc1;
    border-radius: 5px;
    height: 60px;
    padding: 0px 10px 0px 10px;
    margin: 3%; 
    height: 32px;
    line-height: 32px;
    width: 32px;
}
.btn-large{
    background: #609fc1;
    text-transform: none;
}
#search {
    margin-right: 0px !important;
    width: 20%
}