.styleButtonList, .list, .textTitle, .addCardLink{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
.styleButtonList{
    background-color: #2ca63d;
    color: white;
    display: inline-block;
    font-weight: 700;
    margin: 8px 4px 0 0;
    padding: 6px 16px;
    text-align: center;
    font-size: 14px;
}
.list, .textTitle{
    background: #e1e3e5;
    width: 20em;
    padding: 7px;
    border: none;
    line-height: 20px;
    font-weight: 400;
    border-radius: 0.2em;
}
input{
    width: 19em;
    height: 32px;
    margin: 4px 0 0;
    margin-top: 0%
}
.buttonDeleteStyle{
    background: none;
}
.fa-times{
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    width: 32px;
    color: #999;
}
.fa-times:hover{
    color: black;
    opacity: 0.8;
}
.styleButtonList, .fa-times, .addCardLink{
    cursor: pointer;
}
.styleButtonList, .buttonDeleteStyle{
    border: none;
}
.addCardLink{
    font-weight: 400;
    width: 18em;
    text-align: left;
    color: #8c8c8c;
}
.secondBtnList{
    float: right;
}